/* Variables */
:root {
  --white: rgb(255, 255, 255);
  --nfq: #ff6b00;
}

.mainPage {
  background-image: url(./bg1.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 1000px #0000000a;
}
