/* Variables */
:root {
  --white: rgb(255, 255, 255);
  --nfq: #ff6b00;
}

.newTaskContainer {
  height: 100%;
  margin-top: 12rem;
  padding-bottom: 20rem;
}

.newTask-Form {
  background-color: var(--white);
  border: 2px solid var(--nfq);
  width: 90%;
  height: 360px;
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  border-radius: 5px;
}

.newTask-Header {
  background-color: var(--nfq);
  color: var(--white);
  padding: 1rem;
  width: 100%;
}

.newTask-Body {
  margin-top: 1rem;
}

.newTask-Title,
.newTask-Description,
.newTask-Category,
.newTask-Status {
  margin: 1rem 1rem 0 1rem;
}

label {
  margin-right: 1rem;
}

.title-input {
  margin-top: 0.5rem;
}

.title-description {
  width: 100%;
  margin-top: 0.5rem;
}

input {
  padding: 2px;
  border: 1px solid black;
}
input:focus {
  outline: none !important;
  border: 2px solid var(--nfq);
}

.select-Category {
  margin-left: 1.1rem;
}

.select-Category:focus {
  outline: none !important;
  border: 2px solid var(--nfq);
}

.select-Status {
  margin-left: 2.25rem;
}
.select-Status:focus {
  outline: none !important;
  border: 2px solid var(--nfq);
}

.newTask-Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

.newTask-SubmitBtn {
  background-color: var(--nfq);
  color: var(--white);
  border: none;
  padding: 0.8rem;
  border-radius: 5px;
}

.newTask-SubmitBtn:hover {
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .newTask-Form {
    width: 600px;
    height: 360px;
  }
  .title-description {
    width: 400px;
  }

  .title-input {
    margin-left: 3.2rem;
  }
  .newTask-Body {
    margin-top: 2rem;
  }
  .title-input {
    margin-top: 0;
  }

  .title-description {
    margin-top: 0;
  }
}
