/* Imported google fonts */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

/* Variables */
:root {
  --white: rgb(255, 255, 255);
  --nfq: #ff6b00;
}

.navbar-container {
  background-color: var(--nfq);
  height: 100px;
  box-shadow: 0px 2px 2px 0px rgb(0 0 0 / 25%);
  display: flex;
  align-items: center;
}

img {
  width: 100px;
}

.navbar__link {
  margin: 0 auto;
}

.navbar__link > a {
  font-family: 'Black Ops One', cursive;
  font-size: 1.4rem;
  color: var(--white);
  list-style: none;
  text-decoration: none;
}

.navbar__link > a:hover {
  text-decoration: underline;
}

/* Responsive */

@media only screen and (min-width: 600px) {
  .navbar__link {
    padding-right: 6.5rem;
  }
}
