/* Variables */
:root {
  --white: rgb(255, 255, 255);
  --nfq: #ff6b00;
}

.task-list__container {
  height: 100%;
  padding: 12rem 1rem 43rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.task-list__card {
  width: 200px;
  height: 100%;
  background-color: var(--white);
  border: 2px solid var(--nfq);
  border-radius: 5px;
  margin: 2rem 4rem 2rem 4rem;
  word-break: break-word;
}

.task-list__card-header {
  padding: 1rem;
  background-color: var(--nfq);
  color: var(--white);
  text-align: center;
}

.task-list__card-body {
  margin: 2rem 0.5rem 0 0.5rem;
  text-align: center;
  height: 100%;
}

.task-list__card-body__description {
  margin-bottom: 1rem;
}

.task-list__card-btn {
  margin-top: 2rem;
  text-align: center;
}

.view-details__btn {
  background-color: var(--nfq);
  color: var(--white);
  border: none;
  padding: 0.7rem;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.view-details__btn:hover {
  cursor: pointer;
}

strong {
  font-size: 1.1rem;
}
