/* Variables */
:root {
  --white: rgb(255, 255, 255);
  --nfq: #ff6b00;
}

.taskListContainer {
  height: 100%;
  padding-top: 12rem;
  padding-bottom: 43rem;
  display: flex;
  flex-wrap: wrap;
}

.taskList-Card {
  width: 200px;
  height: 100%;
  background-color: var(--white);
  border: 2px solid var(--nfq);
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 2rem;
  word-break: break-word;
}

.taskList-Card__Header {
  padding: 1rem;
  background-color: var(--nfq);
  color: var(--white);
  text-align: center;
}

.taskList-Card__Body {
  margin: 2rem 0.5rem 0 0.5rem;
  text-align: center;
  height: 100%;
}

.taskList-Card__BodyDescription {
  margin-bottom: 1rem;
}

.taskList-Card__Btn {
  margin-top: 2rem;
  text-align: center;
}

.view-details__Btn {
  background-color: var(--nfq);
  color: var(--white);
  border: none;
  padding: 0.7rem;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.view-details__Btn:hover {
  cursor: pointer;
}

strong {
  font-size: 1.1rem;
}
